p{
  background-color: #ddda;
  width: 10rem;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  margin-left: 2.5rem;
  font-weight: bold;
}
li{
  list-style: none;
  display: none;
  width: 10rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.5rem #dadafa;
  font-weight: bold;
  margin: 10px;
}
a{
  text-decoration: none;
}
div:hover li{
  display: block;
 
 
}