body{
  margin: 0;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  width: 20%;
}
li a{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
li a.active{
  background-color: #04aa6d;
}
li a:hover:not(.active){
box-shadow: 5px 5px 5px #531ef4;
  color: rgb(24, 20, 20);
}

